body {
    margin: 0%;
    padding: 0%;
}

.card-filter {
    border: 1px solid whitesmoke;
    -webkit-box-shadow: 2px 10px 13px -7px #000000, 3px 3px 3px -1px rgba(0,0,0,0); 
    box-shadow: 2px 10px 13px -7px #000000, 3px 3px 3px -1px rgba(0,0,0,0);
    border-radius: 16px 16px;
}

.filter {
 display: block;
 position:sticky;
 top:20px;
}